@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 90 4% 9.8%;      /* #181a17 gris foncé */
    --card: 32 39% 96%;     /* #F8F5F2 beige clair */
    --card-foreground: 90 4% 9.8%;   /* #181a17 gris foncé */
    --popover: 0 0% 100%;
    --popover-foreground: 90 4% 9.8%;
    /* --primary: 15 100% 70%;      #ff8a60 orange */
     --primary: 20 75% 57%;     /* #E3723C orange2 */
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --yellow: 45 100% 74%;     /* #FFE27C yellow */
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 15 100% 70%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @layer utilities {
  .outline-text {
    color: #F6F0EA;
    -webkit-text-stroke: 1px #191a18;
  }
} */
