---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" textColor='text-card'>
  <div class="h-full flex items-center justify-center pb-4 gap-4">
    <div class="flex bg-card text-card-foreground border-2 border-card-foreground p-4 rounded-lg rounded-br-none shadow-avatar-bubble">
      <p class="text-sm font-semibold">À l'écoute pour collaborer sur vos projets !</p>
    </div>
    <img class="w-12 h-12 self-end" src="/images/me-avatar.png" alt="mon avatar">
  </div>
</Card>
