---
import Card from '../Card.astro'
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2">
  <div class="h-full flex items-center">
    <p class="text-xl sm:text-[24px] leading-9 font-display">
      Je conçois des
      <span class="italic text-primary">interfaces web</span> modernes, intuitives et efficaces, pensées pour l'utilisateur.
    </p>
  </div>
</Card>
