---
import Card from '../Card.astro'
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" bgColor="bg-card" orderClass="order-3 md:order-none">
  <div class="h-full flex items-center text-center md:text-left">
    <p class="text-lg md:text-2xl leading-9 md:leading-10 md:w-11/12 mx-auto font-sans font-semibold">
      Je conçois des
      <span class="relative md:text-[28px] inline-block italic text-primary font-display font-normal">
        interfaces web
      </span> modernes, intuitives et esthétiques, centrées sur
      <span class="relative md:text-[28px] inline-block italic text-primary font-display font-normal">
        l'expérience utilisateur.
      </span>
    </p>
  </div>
</Card>
