---
import Card from '../Card.astro'
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" bgColor="bg-card" orderClass="order-3 md:order-none">
  <div class="h-full flex items-center text-center md:text-left">
    <p class="text-xl sm:text-[24px] leading-9 font-display w-11/12 mx-auto">
      Je conçois des
      <span class="italic text-primary">interfaces web</span> modernes, intuitives et efficaces, pensées pour
      <span class="bg-primary-soft px-2 rounded-md -ml-1">l'utilisateur</span>.
    </p>
  </div>
</Card>
