---
import Card from '../Card.astro'
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2">
  <p class="text-xl mt-8">
    Je conçois des interfaces web modernes, intuitives et efficaces, pensées pour l'utilisateur.
  </p>
</Card>
