---
import Card from '../Card.astro'
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" title="Mon Objectif">
  <p>⏳ Je crée des sites clairs qui font gagner du temps à vos visiteurs</p>
  <p>❤️ Un design humain, pour que vos clients aient envie de rester plus longtemps</p>
</Card>
