---
import Card from '../Card.astro'
---

<Card colSpan="lg:col-span-2" rowSpan="md:row-span-2" bgColor="bg-primary">
  <div class="h-full flex items-center">
    <p class="text-xl sm:text-2xl font-display">
      Je conçois des
      <span class="italic">interfaces web</span> modernes, intuitives et efficaces, pensées pour l'utilisateur.
    </p>
  </div>
</Card>
