---
import Card from '../Card.astro'
const title = "Sarah Tabet";
const job = "Développeuse Front-End";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4" padBottom={false} bgColor="bg-card" orderClass="order-1 md:order-none">
  <div class="flex h-full w-full justify-between items-center">
    <div class="flex flex-col gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col flex-1 mt-4">
        <div class="border-b pb-2 border-second-gray">
          <h2 class="gradient-text mb-2 sm:mb-4 text-4xl sm:text-6xl font-bold font-roboto outline-text">
            {title}
          </h2>
          <p class="mb-2 md:mb-4 text-2xl sm:text-4xl font-display">{job}</p>
        </div>
        <div class="my-4 md:my-8 text-xl text-primary">
          <p>Créativité | Qualité | Précision</p>
        </div>
      </div>
    </div>
    <img class="absolute right-32 md:right-64 top-1 md:top-6 w-10 h-10 md:w-20 md:h-20 z-10 opacity-50 md:opacity-100" src="/images/hello.png" alt="Hello en bd">
    <img
      src="/images/me.png"
      class="pointer-events-none absolute bottom-[-20px] right-[-80px] z-0 max-h-[300px] sm:max-h-[340px] w-auto select-none opacity-50 md:relative md:right-auto md:z-auto md:opacity-100"
      alt="Photo de profil"
    />
  </div>
</Card>
