---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <h2 class="text-sm mb-4">À l'écoute pour collaborer sur vos projets.</h2>
  <div class="flex w-full items-center gap-4">
    <div class="flex flex-col">
      <h2>Actuellement</h2>
    </div>
    <Pulse />
  </div>
</Card>
