---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex w-full items-center gap-3 mb-4">
    <h2>Actuellement</h2>
    <Pulse />
  </div>
  <p class="text-sm font-semibold mb-4 italic text-[#ff8a60]">À l'écoute pour collaborer sur vos projets.</p>
</Card>
