---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" bgColor='bg-card' textColor='text-card' smallPadding={true}>
    <div class="flex w-full items-center justify-center gap-3">
    <Pulse />
    <p class="text-card-foreground">Actuellement disponible</p>
  </div>
</Card>
