---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Mes Compétences">
  <div class="flex flex-col gap-2">
    <ul class="list-inside list-disc mt-4 space-y-1">
      <li>Vue.js</li>
      <li>React</li>
      <li>React Native</li>
      <li>JavaScript (ES6+)</li>
      <li>TypeScript</li>
      <li>HTML5</li>
      <li>CSS3</li>
      <li>Tailwind CSS</li>
      <li>Git/GitHub</li>
      <li>Figma</li>
      <li>Astro</li>
      <li>WordPress</li>
    </ul>
  </div>
</Card>
