---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="Mes Compétences">
  <div class="flex flex-col gap-4 text-sm text-zinc-800 mt-4">

    <div>
      <p class="w-fit text-zinc-900 border border-zinc-900 rounded-full px-2 py-1 mb-2">Front-End Frameworks</p>
      <ul class="list-inside list-disc ml-4">
        <li>React</li>
        <li>Vue.js</li>
        <li>React Native</li>
        <li>Astro</li>
      </ul>
    </div>

    <div>
      <p class="w-fit text-zinc-900 border border-zinc-900 rounded-full px-2 py-1 mb-2">Langages & standards</p>
      <ul class="list-inside list-disc ml-4">
        <li>JavaScript (ES6+)</li>
        <li>TypeScript</li>
        <li>HTML5</li>
        <li>CSS3</li>
      </ul>
    </div>

    <div>
      <p class="w-fit text-zinc-900 border border-zinc-900 rounded-full px-2 py-1 mb-2">UI & Design</p>
      <ul class="list-inside list-disc ml-4">
        <li>Tailwind CSS</li>
        <li>Figma</li>
      </ul>
    </div>

    <div>
      <p class="w-fit text-zinc-900 border border-zinc-900 rounded-full px-2 py-1 mb-2">Outils & CMS</p>
      <ul class="list-inside list-disc ml-4">
        <li>Git / GitHub</li>
        <li>WordPress</li>
      </ul>
    </div>

  </div>
</Card>
