---
import Card from '../Card.astro'
---

<Card
  colSpan="md:col-span-2"
  rowSpan="md:row-span-2"
  href="/portfolio"
  bgColor="bg-card-yellow"
  title="Mon portfolio"
  >
  <p class="pt-8 italic">Découvrez mes projets en développement web et mobile.</p>
</Card>
