---
import Card from '../Card.astro'
---

<Card
  colSpan="md:col-span-2"
  rowSpan="md:row-span-2"
  href="/portfolio"
  bgColor="bg-dark-green"
  title="Mon portfolio"
  titleClass="tracking-wide text-center"
  textColor="text-card"
  >
  <div class="w-3/4 sm:w-1/2 mx-auto text-center pt-4">
    <p class="italic text-card">Découvrez mes projets en développement web et mobile.</p>
  </div>
</Card>
