---
import Card from '../Card.astro'
---

<Card
  colSpan="md:col-span-2"
  rowSpan="md:row-span-2"
  href="/portfolio"
  bgColor="bg-dark-green"
  title="Mon portfolio"
  titleClass="tracking-wide text-center"
  textColor="text-card"
  >
  <div class="relative">

    <div class="absolute inset-0 z-0">
      <img class="absolute -left-2 sm:left-8 top-1 w-12 h-12 sm:w-20 sm:h-20" src="/images/doodle-web-1.png" alt="Dessin d'interface web">
      <img class="absolute -right-2 sm:right-10 bottom-1 w-12 h-12 sm:w-20 sm:h-20" src="/images/doodle-web-2.png" alt="Dessin d'interface web">
    </div>

    <div class="relative z-10 w-3/4 sm:w-2/3 md:w-1/2 mx-auto text-center pt-4">
      <p class="italic text-card">Découvrez mes projets en développement web et mobile.</p>
    </div>
  </div>
</Card>
