---
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import ProjectCard from '../components/ProjectCard'
import { PROJECTS } from '../lib/constants'
---

<BaseLayout
  title="Portfolio"
  description="Quelques projets que j'ai réalisés."
>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2 class="scroll-m-20 border-b pb-2 text-3xl font-semibold first:mt-0 text-center font-display">
        Portfolio
      </h2>
    </TopLayout>
    <BottomLayout size="xl">
      <div class="grid md:grid-cols-2 lg:grid-cols-3 w-full gap-8">
        {PROJECTS.map((project) => (
          <ProjectCard client:visible project={project} />
        ))}
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
