---
---

<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="container flex h-18 items-center space-x-4 sm:justify-between sm:space-x-0"
  >
    <div class="flex gap-6 md:gap-10 w-12 h-12 p-4 md:w-20 md:h-20 items-center justify-center">
      <a href="/" class="flex items-center space-x-2">
        <img src="/images/robot-logo.png" alt="Logo">
      </a>
    </div>
    <div class="flex flex-1 items-center justify-end space-x-4">
      <nav class="flex items-center space-x-1 gap-8">
        <a href="/portfolio"><span>Mes Projets</span></a>
      </nav>
    </div>
  </div>
</header>
